<div style="text-align:center">
  <h1 class="title" align="CENTER" >Welcome to Basic Angular App</h1>
  <hr>
  <!--
  <app-test (childEvent)="message=$event"  [parentData]="name"></app-test>

  <p>Component interaction from Test(child) to app(parent)</p>
  <h2>{{message}}</h2>
  -->
</div>
<div style="margin-left:57px">
  <nav id="navbar">
    <a class="btn btn-success" style="margin:0px 5px 0px 5px;" routerLink="/departments" routerLinkActive="active">Departments</a>
    <a class="btn btn-success" style="margin:0px 5px 0px 5px;" routerLink="/employees" routerLinkActive="active">Employees</a>
    <a class="btn btn-success" style="margin:0px 5px 0px 5px;" routerLink="/employee_detail" routerLinkActive="active">Employees Detail</a>
  </nav>
</div>
<!--
<div style="margin-left:50px">
  <employee-list></employee-list>
</div>
<div style="margin-left:50px">
  <employee-detail></employee-detail>
</div>
-->
<hr>
<div style="margin-left:57px">
  <router-outlet></router-outlet>
</div>